/* Copyright 2015 Neder All rights reserved. */
/* ㅇㅅㅇ UTF-8이고 싶다 */
body {
	padding-top: 50px;
	background-color:#e2e2e2
}
body,p,h1,h2,h3,h4,h5,h6,a {
    font-family: 나눔바른고딕, NanumBarunGothic, NanumBarunGothicOTF, 나눔고딕, NanumGothic, 맑은 고딕
}

.jumbotron {
    background-color: #5bc0de;
    color: #fff
}

a:link {
    text-decoration: none; color: #ffffff
}
a:visited {
    text-decoration: none; color: #ffffff
}
a:active {
    text-decoration: none; color: #888888
}
a:hover {
    text-decoration: none; color: #888888
}